@import '_variables.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.website-title {
  color: #143744;
}

/*
================
==== Navbar ====
================
*/

.menu {
  width: 100%;
  height: 15vh;
  background-color: #f8f8f8;
  
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  text-decoration: none;
  padding: 0.3em 0;
  letter-spacing: 0.07em;
}

.menu ul {
  padding: 0
}

.menu li {
  list-style-type: none;
  text-transform: uppercase;
  border-bottom: 2px solid #707070;
}

.menu ul > li + li {
  margin-left: 1em;
}

@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .menu-container {
    flex-direction: row;
    align-items: center;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.banner {
  max-width: 100%;
}

.row {
  display: flex;
  margin: 1em auto;
}

@media (min-width: 320px) and (max-width: 1199px) {
  .row {
    flex-direction: column;
  }
  .row > * {
    width: 100%;
  }
}

/* Biggest available screen */
@media (min-width: 1200px) {
  .row {
    flex-direction: row;
  }
  .col-1 {
    width: calc(
      var(--total-width) / var(--number-of-cols) * 1
    );
  }

  .col-2 {
    width: calc(
      var(--total-width) / var(--number-of-cols) * 2
    );
  }

  .col-3 {
    width: calc(
      var(--total-width) / var(--number-of-cols) * 3
    );
  }
}

/* 
=====================
===== Utilities =====
=====================
*/

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-baseline {
  align-items: baseline;
}

.items-end {
  align-items: end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.bg-brown-600 {
  background-color: #212614;
}

.text-white {
  color: white;
}

.mt-0 {
  margin-top: 0;
}

.p-2 {
  padding: .5em;
}

.p-3 {
  padding: 1em;
}

.box-border {
  box-sizing: border-box;
}

.underline {
  text-decoration: underline;
}

